In [5]:
import pandas

In [6]:
pandas.__version__

'1.5.0'

### Python crash course

In [8]:
type(1)

int

In [25]:
type(1.0)

float

In [10]:
type("yo")

str

In [12]:
2**4

16

In [13]:
4%2

0

In [14]:
5%2

1

In [15]:
2+3*5+5

22

In [24]:
print("My name is {x} and I am {y} years old".format(x="Varun",y=21))

My name is Varun and I am 21 years old

#### Lists and Arrays are Same in python and are used by '[]'

In [26]:
nums = [1,2,3]

In [27]:
nums.append('4')

In [28]:
print(nums) # can store different types of data

[1, 2, 3, '4']

In [29]:
nums[-1] # print last element

'4'

In [31]:
nums[0]='1'
print(nums)

['1', 2, 3, '4']

In [32]:
nums = [1,2,[100,200]] # here [100,200] is the 3rd item

In [33]:
print(nums[2][1])

200

#### Maps as key-value pair are denoted by curly braces '{}'

In [34]:
mp = {'first': 1, 'second': 2}
print(mp)

{'first': 1, 'second': 2}

In [38]:
mp['first']

1

In [39]:
False

False

In [40]:
True

True

Tuples are denoted by circular braces '()' and are immutable

In [41]:
t = ('1','2','3')

In [42]:
t[0]=5 # tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [46]:
s={1,2,3,3} # sets are unordered and unique
print(s)

{1, 2, 3}

#### Operators in Python

In [47]:
'a'=='a'

True

In [48]:
'A'=='a'

False

In [49]:
1!=2

True

In [50]:
(1==1) and (2==2)

True

In [51]:
if(1==1):
  print("hey")

hey

In [54]:
if(1==2):
  print("hey")
elif(1==1):
 print("yo")
else: print("bro")

yo

In [55]:
vec = [1,2,3]

In [56]:
for item in vec: # for loop
  print(item)

1
2
3

In [58]:
# while loop
i=1
while i<5:
  print("i is {}".format(i))
  i+=1

i is 1
i is 2
i is 3
i is 4

In [59]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [60]:
list(range(0,10,2)) # goes 2 steps at a time

[0, 2, 4, 6, 8]

In [61]:
for x in range(5):
  print("hi {}".format(x))

hi 0
hi 1
hi 2
hi 3
hi 4

In [63]:
out=[]
x=[1,2,3,4,5]
for item in x:
  out.append(item**2); # append square of it
print(out)

[1, 4, 9, 16, 25]

In [64]:
[num**2 for num in x] # list comprehension

[1, 4, 9, 16, 25]

#### Functions in Python