In [1]:
import pandas

In [2]:
pandas.__version__

'1.5.0'

### Python crash course

In [3]:
type(1)

int

In [4]:
type(1.0)

float

In [5]:
type("yo")

str

In [6]:
2**4

16

In [7]:
4%2

0

In [8]:
5%2

1

In [9]:
2+3*5+5

22

In [10]:
print("My name is {x} and I am {y} years old".format(x="Varun",y=21))

My name is Varun and I am 21 years old

#### Lists and Arrays are Same in python and are used by '[]'

In [11]:
nums = [1,2,3]

In [12]:
nums.append('4')

In [13]:
print(nums) # can store different types of data

[1, 2, 3, '4']

In [14]:
nums[-1] # print last element

'4'

In [15]:
nums[0]='1'
print(nums)

['1', 2, 3, '4']

In [16]:
nums = [1,2,[100,200]] # here [100,200] is the 3rd item

In [17]:
print(nums[2][1])

200

#### Maps as key-value pair are denoted by curly braces '{}'

In [18]:
mp = {'first': 1, 'second': 2}
print(mp)

{'first': 1, 'second': 2}

In [19]:
mp['first']

1

In [20]:
False

False

In [21]:
True

True

Tuples are denoted by circular braces '()' and are immutable

In [22]:
t = ('1','2','3')

In [23]:
t[0]=5 # tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
s={1,2,3,3} # sets are unordered and unique
print(s)

{1, 2, 3}

#### Operators in Python

In [24]:
'a'=='a'

True

In [25]:
'A'=='a'

False

In [26]:
1!=2

True

In [27]:
(1==1) and (2==2)

True

In [28]:
if(1==1):
  print("hey")

hey

In [29]:
if(1==2):
  print("hey")
elif(1==1):
 print("yo")
else: print("bro")

yo

In [30]:
vec = [1,2,3]

In [31]:
for item in vec: # for loop
  print(item)

1
2
3

In [32]:
# while loop
i=1
while i<5:
  print("i is {}".format(i))
  i+=1

i is 1
i is 2
i is 3
i is 4

In [33]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [34]:
list(range(0,10,2)) # goes 2 steps at a time

[0, 2, 4, 6, 8]

In [35]:
for x in range(5):
  print("hi {}".format(x))

hi 0
hi 1
hi 2
hi 3
hi 4

In [36]:
out=[]
x=[1,2,3,4,5]
for item in x:
  out.append(item**2); # append square of it
print(out)

[1, 4, 9, 16, 25]

In [37]:
[num**2 for num in x] # list comprehension

[1, 4, 9, 16, 25]

#### Functions in Python

In [38]:
def func(name="default"):
  '''This prints out a name''' # this is a docstring showing what function does
  print('hey '+name)

In [39]:
func('Varun')

hey Varun

In [40]:
func()

hey default

In [41]:
lambda num: num**2 # lambda function, anonymous with no name, can call this one time

In [42]:
str = "Hello my name is Varun"

In [43]:
str.lower()

'hello my name is varun'

In [44]:
str.upper()

'HELLO MY NAME IS VARUN'

In [45]:
str.split()

['Hello', 'my', 'name', 'is', 'Varun']

In [46]:
tweet = "Hello #sports#metoo#yoooo"

In [47]:
tweet.split("#") # splits at #

['Hello ', 'sports', 'metoo', 'yoooo']

In [48]:
tweet.split("#")[-1] # splits at # and takes the last item

'yoooo'

In [49]:
dic = {'k1':1,'k2':2} 
dic.keys() # returns keys

dict_keys(['k1', 'k2'])

In [50]:
dic.items() # get tuple pairs

dict_items([('k1', 1), ('k2', 2)])

In [51]:
last = [1,2,3]
last.pop() # removes last item
print(last)

[1, 2]

In [52]:
last.append(3)
last.append(4)
last.append(5)

In [53]:
last.pop(1) # removes 2nd item

2

In [54]:
last

[1, 3, 4, 5]

In [55]:
'a' in last # checks if 'a' is in last

False

In [56]:
1 in last

True