#### Pandas Series and using them

In [1]:
import numpy as np
import pandas as pd

In [2]:
myIndex = ['USA', "Canada", "Mexico"]
myData = [1776, 1867, 1821]

In [3]:
mySeries = pd.Series(data=myData)

In [4]:
mySeries

0    1776
1    1867
2    1821
dtype: int64

In [5]:
type(mySeries)

pandas.core.series.Series

In [6]:
mySeries = pd.Series(data=myData, index=myIndex)

In [7]:
mySeries

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [8]:
mySeries[0]

1776

In [9]:
mySeries['USA']

1776

#### Creating series using dictionaries

In [10]:
ages ={'Sam': 10, 'Frank': 20, 'Dan': 30}

In [11]:
pd.Series(ages) # pandas smart to consider keys and assign values

Sam      10
Frank    20
Dan      30
dtype: int64

In [12]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [13]:
# convert to sales series using pandas
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [14]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [15]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [16]:
sales_q2['India'] # be type safe for keys, no spaces or special characters or wrong upper/lower case

210

In [17]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [18]:
[1,2]*2 # does not multiply

[1, 2, 1, 2]

In [19]:
np.array([1,2])*2 # numpy does it and broadcasts it

array([2, 4])

In [20]:
# same applies for pandas series objects as numpy arrays
sales_q1*2

Japan    160
China    900
India    400
USA      500
dtype: int64

Gives NaN as Japan not in q2 and brazil not in q1

In [21]:
sales_q1+sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

If we want to add both brazil and japan without having to show NaN, use add() method of pandas series

In [22]:
sales_q1.add(sales_q2,fill_value=0) # fill_value is used to fill missing values

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64